* {
  //   margin: 0px;
  //   padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
.header {
  background-color: blue;
  width: 100%;
}

.example-card {
  width: 300px;
}

.close-button {
  background-color: transparent;
  border: none;
  float: left;
  cursor: pointer;
  color: aliceblue;
}

.mat-toolbar {
  margin: -24px;
  margin-bottom: 0;
  width: auto;
}

.mat-dialog-content {
  margin: 0 -24px;
  padding: 0 !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: auto !important;
}

.spacer {
  flex: 1 1 auto;
}

.image-section {
  width: 100%;
  img {
    object-fit: cover;
  }
}

.description {
  width: 300px;
}

input {
  max-width: 300px;
  width: 100%;
  background-color: transparent;
  // border: none;
  // border-bottom: 1px solid;
  // margin-top: 30px;
}

.w-50 {
  width: 50%;
}

.save-button {
  margin-top: 20px;
  border: none;
  background-color: darkgray;
  width: 100px;
  height: 40px;
}

.reset-button {
  margin-top: 20px;
  border: none;
  background-color: darkgray;
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}
