<app-header></app-header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side-navbar">
    <div class="side-bar-content">
      <ul class="side-nav-bar">
        <li *ngFor="let category of categoryList">
          <button (click)="categorySelectFunction(category.value)">
            {{ category.name }}
          </button>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div class="main-movie-content" fxFlex="80">
        <div class="search-section">
          <form (submit)="searchMovie()">
            <input
              type="search"
              name="movieQuery"
              #box
              [(ngModel)]="movieQuery"
              placeholder="Enter the movie name"
            />
            <button type="submit" class="search-bar-button" value="search">
              <img
                src="../assets/search.png"
                alt=""
                srcset=""
                class="searchImage"
              />
            </button>
          </form>
        </div>

        <div class="data-selected">
          <h3 style="margin-left: 20px; font-size: 20px; font-weight: 500">
            Genre Selected -
            <span style="font-family: 300">{{ categorySelected }}</span>
          </h3>
        </div>

        <div fxLayout="row wrap">
          <div
            *ngFor="let item of movieData; let i = index"
            fxFlex="0 0 100%"
            [ngStyle.gt-sm]="{ 'margin.px': 6 }"
            [ngStyle]="{ 'margin.px': 6, 'margin-bottom.px': 20 }"
            fxFlex.gt-sm="0 0 calc(33% -12px)"
          >
            <mat-card (click)="openDialog(i)">
              <div class="image-section">
                <img mat-card-image src="{{ item.Poster }}" alt="Movie Photo" />
              </div>
              <mat-card-header>
                <mat-card-title>
                  {{ item.Title }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="content-description">
                  <p>Year - {{ item.Year }}</p>
                  <p>Genre - {{ item.Genre }}</p>
                  <p>Actors - {{ item.Actors }}</p>
                  <p>Rating - {{ item.Ratings[0].Value }}</p>
                  <ngb-rating
                    [max]="5"
                    [(rate)]="item.Ratings[0].Value"
                    [readonly]="false"
                  ></ngb-rating>
                  <!--Switch Case for the -->
                  <div [ngSwitch]="item.Ratings[0].Value">
                    <h1 *ngSwitchCase="1">
                      <ngb-rating
                        [max]="5"
                        [(rate)]="starRating"
                        [readonly]="true"
                      ></ngb-rating>
                    </h1>
                    <p *ngSwitchCase="2">two</p>
                    <p *ngSwitchCase="3">three</p>
                    <p *ngSwitchCase="4">four</p>
                    <p *ngSwitchCase="5">five</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
